<nav  class="navbar navbar-dark nav-own">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../../../assets/img/logo blanco.png" alt="" width="30" height="24" class="d-inline-block align-text-top img-nav">
        </a>
        <form action="" class="d-flex">
            <button class="btn btn-sm collapsed btn-user">
                <img class="img-profile" src="../../../assets/img/roshi.jpg" alt="">
            </button>
            <!-- <button class="btn btn-sm collapsed btn-user">
                <fa-icon [icon]="faTruck"></fa-icon>
            </button> -->
        </form>
    </div>
</nav>
