.img-nav{
    width: 80px;
}

.nav-own{
    background-color: #FB1D5A;
}

.img-profile{
    width: 40px;
    border-radius: 30px;
}

.btn-user{
    background-color: #f6678e;
}
.h4Header{
    margin-top: 7px;
    margin-right: 10px;
    text-transform: capitalize;
    color: white;
    font-weight: 800;
}