<app-header></app-header>
<app-ordenes-disponibles 
    (onVerOrdenes)="verOrdenes($event)" 
    (onVerDetalleOrdenDisponible) = "verDetalleOrdenDisponible($event)"
    [ngClass]="{'visible':regionVisible == 'ordenesDisponibles', 'noVisible':regionVisible!= 'ordenesDisponibles'}">
</app-ordenes-disponibles>
<!-- <app-ordenes-disponibles [ngClass]="{'visible':regionVisible == 'ordenesDisponibles', 'noVisible':regionVisible!= 'ordenesDisponibles'}"></app-ordenes-disponibles> -->
<app-ordenes-tomadas 
    (onVerDetalleOrdenTomada)="verDetalleOrdenTomada($event)" 
    [ngClass]="{'visible':regionVisible == 'ordenesTomadas', 'noVisible':regionVisible!= 'ordenesTomadas'}">
</app-ordenes-tomadas>

<app-detalle-orden 
    [ngClass]="{'visible':regionVisible == 'detalleOrdenDisponible', 'noVisible':regionVisible!= 'detalleOrdenDisponible'}">
</app-detalle-orden>

<app-ordenes 
    (onOrdenesTomadas)="verOrdenesTomadas($event)" 
    (onOrdenesEntregadas)="verOrdenesEntregadas($event)" 
    [ngClass]="{'visible':regionVisible == 'ordenes', 'noVisible':regionVisible!= 'ordenes'}">
</app-ordenes>

<app-ordenes-entregadas 
    [ngClass]="{'visible':regionVisible == 'ordenesEntregadas', 'noVisible':regionVisible!= 'ordenesEntregadas'}">
</app-ordenes-entregadas>

<app-detalle-ordenes-tomadas
[ngClass]="{'visible':regionVisible == 'detalleOrdenTomada', 'noVisible':regionVisible!= 'detalleOrdenTomada'}">
    
</app-detalle-ordenes-tomadas>
<app-footernav></app-footernav>
<router-outlet></router-outlet>

<!-- detalleOrden -->