<div class="div-ft" >
    <div class="ov-dpf">
        <form class="form-cmp">
            <span class="title">
                <strong>Registrarse</strong>
            </span>
            <div class="bx-if validate-input" data-validate="Name is required">
                <label class="lb-form" for="name"><strong>Nombre Completo</strong></label>
                <input id="nameUser" class="input100" type="text" name="name" placeholder="Enter your name...">
                <span class="focus-input100"></span>
            </div>
            <div class="bx-if validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                <label class="lb-form" for="email"><strong>Correo</strong></label>
                <input id="email" class="input100" type="text" name="email" placeholder="Enter your email...">
                <span class="focus-input100"></span>
            </div>
            <div class="bx-if validate-input">
                <label class="lb-form" for="password"><strong>Telefono</strong></label>
                <input id="" class="input100" type="txt" placeholder="9999-9999">
                <span class="focus-input100"></span>
                <a href=""></a>
            </div>
            <div class="bx-if validate-input">
                <label class="lb-form" for="password"><strong>Numero de Identidad</strong></label>
                <input id="passwordII" class="input100" type="text" placeholder="9999-9999-99999">
                <span class="focus-input100"></span>
            </div>
            <div class="bx-if validate-input">
                <label class="lb-form" for="message"><strong>Descripción de su perfil</strong></label>
                <textarea id="message" class="input100" name="message" placeholder="Write your description here, for your profile wall"></textarea>
                <span class="focus-input100"></span>
            </div>
            <div class="bx-if validate-input">
                <label class="lb-form" for="message"><strong>Tipo de vehiculo</strong></label>
                <div class="div-sl" >
                    <select class="sl-v">
                        <option selected>Tipo Vehiculo</option>
                        <option value="1">Motocicleta</option>
                        <option value="2">Bicicleta</option>
                        <option value="3">Automovil</option>
                    </select>
                </div>
                <span class="focus-input100"></span>
            </div>
            <div class="container-contact100-form-btn">
                <button class="contact100-form-btn">Enviar</button>
            </div>
        </form>
    </div>
</div>
