<div class="container">
    <div class="row">
        <div class="col-12 mt-4">
            <div class="bd">
                <h5 class="titles">Detalles Del Pedido</h5>
                <h6><a class="titles">Orden: </a>543532234</h6>
                <h6><a class="titles">Origen: </a>Pizza Hut Aeropuerto</h6>
                <h6><a class="titles">Estado Pedido: </a></h6>
                <select class="form-select form-select-sm select-estado" aria-label=".form-select-sm example">
                    <!-- <option selected>Open this select menu</option> -->
                    <option value="1">Tomada</option>
                    <option value="2">En camino</option>
                    <option value="3">En el origen</option>
                    <option value="3">En el destino</option>
                </select>
                <h6><a class="titles">Descripcion Pedido</a></h6>
                <p> Pedido de Combo #4, pizza gigante con alitas</p>
                <p><strong>Comprado el 12/12/12 12:52:23 pm</strong></p>
            </div>
        </div>
        <div class="col-12 mt-4">
            <div class="bd">
                <h5 class="titles">Informacion Cliente</h5>
                <h6><a class="titles">Nombre: </a>Victor Amaya</h6>
                <h6><a class="titles">Telefono: </a>9999-9999</h6>
                <div>
                    <h6 class="titles">Direccion de Envio</h6>
                    <p>Residencial Santa Cruza, Bloque BB-1 Casa #1</p>
                </div>
            </div>
        </div>
        <div class="col-12 mt-4">
            <div class="container">
                <div class="row bd">
                    <div class="col-12">
                        <h5 class="titles">Metodo de Pago</h5>
                        <p>Visa ****</p>
                    </div>
                    <div class="col-12">
                        <h5 class="titles">Resumen del Pedido</h5>
                        <div>
                            <p>Subtotal: Lps.25</p>
                        </div>
                        <div>
                            <p>Impuesto: Lps.25</p>
                        </div>
                        <div>
                            <p>Comision: Lps.25</p>
                        </div>
                        <div>
                            <p>Total: Lps.75</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mt-4 mb-4">
            <button type="button" class="btn btn-tomar-pedido"> Atras</button>
            <button type="button" class="btn btn-tomar-pedido ml-2"> Guardar</button>
        </div>
    </div>
</div>