<div class="container">
    <div class="row" *ngFor="let detalles of ordenTomada">
        <div class="col-12 mt-4">
            <div class="bd">
                <h5 class="titles">Detalles Del Pedido</h5>
                <h6><a class="titles">Orden: </a>OR-{{detalles.idOrden}}</h6>
                <h6><a class="titles">Empresa: </a>{{detalles.empresa}}</h6>
                <h6><a class="titles">Producto: </a>{{detalles.producto}}</h6>
                <h6><a class="titles">Estado Pedido: </a>{{detalles.estadoOrden}}</h6>
                <select [(ngModel)]="selecionarCambioEstado" class="form-select form-select-sm select-estado" aria-label=".form-select-sm example">
                    <!-- <option selected>Open this select menu</option> -->
                    <option value="tomada">Tomada</option>
                    <option value="en camino">En camino</option>
                    <option value="destino">Completada</option>
                </select>
                <h6><a class="titles">Descripcion Pedido</a>{{detalles.descripcionPedido}}</h6>
                <h6><a class="titles">Cantidad: </a> {{detalles.cantidadProducto}}</h6>
                <h6><a class="titles">Fecha entrega: </a> {{detalles.tiempoEntrega}}</h6>
            </div>
        </div>
        <div class="col-12 mt-4" [ngClass]="{'visible':ocultarMore == false, 'noVisible':ocultarMore!= true}">
            <div class="bd">
                <button class="btn buttonMore" (click)="ocultarProductos()">Ver mas <fa-icon [icon]="faAngleDown"></fa-icon></button>
                <div style="overflow: auto;" [ngClass]="{'visible':ocultarProduct == false, 'noVisible':ocultarProduct!= true}">
                    <table class="table" >
                        <thead class="thead-EDWin">
                            <tr>
                                <th>Empresa</th>
                                <th>Producto</th>
                                <th>Cantidad</th>
                                <th>Precio</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let ordenes of ordenTomada[0].productos">
                                <td>{{ordenes.empresa}}</td>
                                <td>{{ordenes.producto}}</td>
                                <td>{{ordenes.cantidadProducto}}</td>
                                <td>{{ordenes.precioProducto}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 mt-4">
            <div class="bd">
                <h5 class="titles">Informacion Cliente</h5>
                <h6><a class="titles">Nombre: </a>{{detalles.nombreCliente}}</h6>
                <h6><a class="titles">Telefono: </a>{{detalles.telefonCliente}}</h6>
                <div>
                    <h6 class="titles">Direccion de Envio</h6>
                    <p>{{detalles.direccioncliente}}</p>
                </div>
            </div>
        </div>
        <div class="col-12 mt-4">
            <div class="container">
                <div class="row bd">
                    <div class="col-12">
                        <h5 class="titles">Metodo de Pago</h5>
                        <p>{{detalles.metodoPago}}</p>
                        <!-- <p>Visa ****</p> -->
                    </div>
                    <div class="col-12" *ngIf="detalles.precioProducto==null">
                        <h5 class="titles">factura de la compra</h5>
                        <p> Precio: por definir</p>
                        <input type="number" class="form-control" name="" [(ngModel)]="PrecioPrducto" id="">
                    </div>
                    <div class="col-12">
                        <h5 class="titles">Resumen del Pedido</h5>
                        <div>
                            <p>Subtotal: Lps. {{detalles.cantidadProducto*detalles.precioProducto+detalles.comision}}</p>
                        </div>
                        <div>
                            <p>Impuesto: Lps. {{(detalles.cantidadProducto*detalles.precioProducto+detalles.comision)*0.15}}</p>
                        </div>
                        <div>
                            <p>Comision: Lps. {{detalles.comision}}</p>
                        </div>
                        <div>
                            <p>Total: Lps. {{(detalles.cantidadProducto*detalles.precioProducto+detalles.comision)*1.15}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mt-4 mb-4">
            <button type="button" class="btn btn-tomar-pedido" (click)="irAtras()"> Atras</button>
            <button type="button" class="btn btn-tomar-pedido ml-2" (click)="Guardarcambio()"> Guardar</button>
        </div>
        <div class="col-sm-12 col-md-4 col-xl-4 ">
            <br><br><br><br>
        </div>
    </div>
</div>