.bd{
	border: solid #fb1d5a 1px;
    border-radius: 10px;
    padding: 15px;
    background-color: #f6678e2e;
}

.titles{
	color: #fb1d5a;
}

.btn-tomar-pedido{
    background-color: #fb1d5a;
    color: white;
}
.buttonMore{
    margin-left: auto;
    display: block;   
}

.thead-EDWin{
    color: white;
    background-color: #FB1D5A !important;
    
}
.visible{
    display: block;
}

.noVisible{
    display: none;
}