<div class="container">
    <div class="row">
        <div class="col-12">
            <div>
                <h5 class="title pt-4">Ordenes Entregadas</h5>
                <hr>
            </div>
            <button type="button" class="btn btn-atras" (click)="irAtras()"> Atras</button>
            <div style="overflow: auto;">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th class="p-1" scope="col">ID</th>
                            <th class="p-1" scope="col">Cliente</th>
                            <th class="p-1" scope="col">Destino</th>
                            <th class="p-1" scope="col">Estado</th>
                            <th class="p-1" scope="col">Detalle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let orden of ordenesCompletadas; let indice= index">
                            <th scope="row">{{indice+1}}</th>
                            <td>{{orden.nombreCliente}}</td>
                            <td>{{orden.direccioncliente}}</td>
                            <td>{{orden.estadoOrden}}</td>
                            <td><button type="button" class="btn btn-ver" (click)="verOrdenTomada(orden)">Ver</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>