<div class="container pl-5 pr-5">
    <div class="row">
        <div class="col-12 mt-4">
            <h5 class="hola">Historial de Ordenes</h5>
            <hr class="mb-0">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 col-xl-3 mt-4">
            <div class="card cd">
                <div class="dv-img">
                    <img class="card-img-top p-2 img-ord" src="../../../assets/img/motorista.jpg" alt="Card image cap">
                </div>
                <div class="card-body p-0">
                    <h5 class="card-title title mb-0">Ordenes Tomadas</h5>
                    <p class="card-text ttd"> 5 </p>  
                </div>
                <div class="card-footer footer">
                    <a href="#" class="btn btn-primary w-100 btn-pedido" (click)="ordenesTomadas()" >Ver</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 col-xl-3 mt-4">
            <div class="card cd">
                <div class="dv-img">
                    <img class="card-img-top p-2 img-ord" src="../../../assets/img/entregado.png" alt="Card image cap">
                </div>
                <div class="card-body p-0">
                    <h5 class="card-title title mb-0">Ordenes Entregadas</h5>
                    <p class="card-text ttd"> 10 </p>  
                </div>
                <div class="card-footer footer">
                    <a href="#" class="btn btn-primary w-100 btn-pedido" (click)="ordenesEntregadas()" >Ver</a>
                </div>
            </div>
        </div>
    </div>
</div>